body {
  margin: 0;
  font-family: sans-serif;
  /*background-color: #007BFF;  niebieski kolor tła */
  background-color: #2c3e50;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.language-switch {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
}

.language-switch button:hover {
  background-color: #1abc9c
}

.language-switch button {
  background-color: #17a689; /* zielony standardowy wygląd przycisku */
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  font-size: 0.9em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-container {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  width: 75%;
  height: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  text-align: center;
}

.title-class{
  color: #17a689;
  margin-bottom: 20px;
}

.login-container button {
  background-color: #17a689; /* zielony */
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
}

.login-container button:hover {
  background-color: #1abc9c
}

.login-container .links {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.login-container .links a {
  font-size: 0.9em;
  color: #17a689;
  text-decoration: none;
}
/* Domyślne przyciski */
.default-button{
  background-color: #17a689; /* zielony */
  color: white;
  font-size: 0.9rem;
  border: none;
  width: 35%;
  height: 60%;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1.2rem;
  
  padding: 0.4rem 0.4rem;
}

.default-button:hover {
  background-color: #1abc9c
}

.button-row{
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}

.formular-box{
  width: 90%;
  justify-content: space-between;
  margin: 0 auto;
}

.formular-row{
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 2rem;
  margin-top: 0.8rem;
  padding-left: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}


/* Okno autoryzacji */
.auth-container{
  display: none;
  background-color: white;
  border-radius: 10px;
  width: 90%;
  height: 40%;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  text-align: center;
}

.auth-container h2{
  font-size: 0.8rem;
  color: black;
  font-style: italic;
  font-weight: normal;
}

/* Okno zakładania konta */
.new-account-container{
  display: none;
  background-color: white;
  border-radius: 10px;
  width: 90%;
  height: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  text-align: center;
}

.message-container{
  position: fixed;
  bottom: 1rem;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  text-align: center;
  word-wrap: break-word;
  /* Animacja zanikania */
  opacity: 0;
  transition: opacity 0.8s ease;
}

.message-container.show{
  opacity: 1;
}

.notification-message{
  color: black;
  font-weight: bolder;
  position: center;
  font-size: 0.8rem;
  margin: 1rem;
}

