.hidden{
    display: none;
}

#phone-confirm-modal.hidden{
    display: none;
}

#settings-container{
    gap: 2rem;
}

#phone-number-space{
    display: flex;
    align-items: center;
    gap: 1rem;
    user-select: none;
}

#phone-confirm-modal{
    position: fixed;
    inset: 0;
    min-width: 10rem;
    min-height: 5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 1.5rem;
    z-index: 9999;
}

#phone-confirm-modal-content{
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    min-width: 10rem;
    min-height: 8rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow:0 10px 30px rgba(0,0,0,0.3);
}

#settings-phone-input{
    height: 1.5rem;
    width: 8rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
}

.settings-button{
    user-select: none;
    min-width: 5rem;
    min-height: 2rem;
    background-color: #3c4d5f;
    color: white;
    border-radius: 0.5rem;
}

#phone-confirm-modal-secure-code{
    width: 8rem;
    height: 2rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
}

#phone-confirm-modal-input-space{
    display: flex;
    justify-content: center;
}

#phone-confirm-modal-buttons-space{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.settings-button:hover{
    background-color: #3c4d5f;
    color: #1abc9c;
    cursor: pointer;
}

#settings-add-number:hover{ 
    background-color: #3c4d5f;
    color: #1abc9c;
    cursor: pointer;
}

#settings-edit-number:hover{
    background-color: #3c4d5f;
    color: #1abc9c;
    cursor: pointer;
}

.standby{
    background-color: #ccc;
    color: #6e6e6e;
}

#auth-methode{
    min-height: 1.5rem;
    min-width: 6rem;
    border-radius: 0.5rem;
}