.hidden{
    display: none;
}

#settings-auth-verify-modal.hidden{
    display: none;
}

#options-space{
    display: flex;
    flex-direction: column;
}

#options-space > div {
    padding: 1rem 0;
    border-bottom: 1px solid #aaa;
}

/* usuń linię z ostatniego elementu */
#options-space > div:last-child {
    border-bottom: none;
}

#phone-confirm-modal{
    position: fixed;
    inset: 0;
    min-width: 10rem;
    min-height: 5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 1.5rem;
    z-index: 9999;
}

#phone-confirm-modal.hidden{
    display: none;
}

#settings-container{
    gap: 2rem;
}

#phone-number-space{
    display: flex;
    align-items: center;
    gap: 1rem;
    user-select: none;
}

#settings-auth-verify-modal{
    position: fixed;
    inset: 0;
    min-width: 15rem;
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 1.5rem;
    z-index: 9999;
}

#settings-auth-verify-modal-content{
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    min-width: 15rem;
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    box-shadow:0 10px 30px rgba(0,0,0,0.3);
}

#settings-auth-verify-modal-content-title-text{
    display: flex;
    justify-content: center;
}

#settings-auth-verify-modal-content-describtion-text{
    display: flex;
    justify-content: center;
}

#settings-auth-verify-modal-title{
    font-size: 1rem;
    font-style: normal;
    font-weight: bolder;
    justify-content: center;
}

#settings-auth-verify-modal-input-space{
    display: flex;
    justify-content: center;
}

#settings-auth-verify-modal-info{
    font-size: 0.8rem;
    font-style: italic;
    font-weight: lighter;
    justify-content: center
}

#phone-set-number-modal-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    min-width: 10rem;
    min-height: 8rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow:0 10px 30px rgba(0,0,0,0.3);
}

#phone-number-prefix{
    min-width: 8rem;
    min-height: 1.5rem;
    border-radius: 0.5rem;
}

#settings-phone-input{
    min-width: 10rem;
    min-height: 1.5rem;
    border-radius: 0.5rem;
}

#phone-set-number-modal-buttons-space{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25%;
}

#phone-set-number-modal-content.hidden{
    display: none;
}

#phone-confirm-modal-content{
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    min-width: 10rem;
    min-height: 8rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow:0 10px 30px rgba(0,0,0,0.3);
}

#phone-confirm-modal-content.hidden{
    display: none;
}

#settings-phone-input{
    height: 1.5rem;
    width: 8rem;
}

.default-input{
    border-radius: 0.5rem;
    border: 1px solid #ccc;
}

.input-auth-methode{
    width: 7rem;
    height: 1.5rem;
}

#authMethode-change-modal-buttons-space{
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

#settings-add-number.hidden{
    display: none;
}

#settings-edit-number.hidden{
    display: none
}

#qrCode-space{
    display: flex;
    align-items: center;
    justify-content: center;
}

#authMethode-change-modal-type-select-button-space{
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

#authMethode-change-modal-select-space.hidden{
    display: none;
}

.settings-button{
    user-select: none;
    min-width: 5rem;
    min-height: 2rem;
    background-color: #3c4d5f;
    color: white;
    border-radius: 0.5rem;
}

#phone-confirm-modal-secure-code{
    width: 8rem;
    height: 2rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
}

#auth-methode-space{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}
#change-authMethode-button-space{
    align-items: center;
}

#phone-confirm-modal-input-space{
    display: flex;
    justify-content: center;
}

#phone-confirm-modal-buttons-space{
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

#settings-auth-verify-modal-password-input{
    width: 12rem;
    height: 1.5rem;
}

.options-modal-button-space{
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.settings-button:hover{
    background-color: #3c4d5f;
    color: #1abc9c;
    cursor: pointer;
}

#settings-add-number:hover{ 
    background-color: #3c4d5f;
    color: #1abc9c;
    cursor: pointer;
}

#settings-edit-number:hover{
    background-color: #3c4d5f;
    color: #1abc9c;
    cursor: pointer;
}

.standby{
    background-color: #ccc;
    color: #6e6e6e;
}

#settings-auth-verify-modal-message-space{
    display: flex;
}

#settings-auth-verify-modal-message-space.hidden{
    display: none;
}

.modal-option-content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.modal-option-describtion-span{
    font-size: 0.8rem;
    font-style: italic;
}

#authMethode-change-modal{
    position: fixed;
    inset: 0;
    min-width: 15rem;
    min-height: 20rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 1.5rem;
    z-index: 9999;
}

#authMethode-change-modal.hidden{
    display: none;
}

#authMethode-change-modal-content{
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    min-width: 10rem;
    min-height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    box-shadow:0 10px 30px rgba(0,0,0,0.3);
}

.auth-option-input-space{
    display: flex;
    justify-content: center;
}

#authMethode-change-modal-email{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#authMethode-change-modal-email.hidden{
    display: none;
}

#authMethode-change-modal-phone{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#authMethode-change-modal-phone.hidden{
    display: none;
}

#authMethode-change-modal-TOTP{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#authMethode-change-modal-TOTP.hidden{
    display: none;
}

#authMethode-change-modal-type-select-button-space.hidden{
    display: none;
}

#authMethode-change-modal-buttons-space.hidden{
    display: none;
}

#security-password-reset-space{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

#security-password-reset-space.hidden{
    display: none;
}

#security-pass-reset-message-space.hidden{
    display: none;
}

.message-space{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem 0.5rem;
    background-color: white;
    border-radius: 0.5rem;
    min-height: 1.5rem;
    min-width: 6rem;
    border: 1px solid black;
    box-shadow:0 10px 30px rgba(0,0,0,0.3);
}

.message-text{
    color: black;
    font-size: 0.8rem;
    text-align: center;
    width: 100%;
}

/*
#auth-methode-selector{
    min-height: 1.5rem;
    min-width: 6rem;
    border-radius: 0.5rem;
}
    */