
.role-column-size{
    grid-template-columns: 5% 25% 20% 25% auto 5% 5%;
}

.role-icons-format{
    height: 1.2rem;
    background-color: #2c3e50;
    cursor: pointer;
    user-select: none;
}

.role-icons-format:hover{
    background-color: #1abc9c;
}

.role-icon-container-format{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#delete-role-data-icon{
    -webkit-mask-image: url("../../Fonts/Delete/deleteIcon.svg");
    mask-image: url("../../Fonts/Delete/deleteIcon.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
}

#edit-role-data-icon{
    -webkit-mask-image: url("../../Fonts/Edit/editIcon.svg");
    mask-image: url("../../Fonts/Edit/editIcon.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
}

.single-role-data-headers{
    display: grid; 
    min-height: 1.5rem;
    align-items: center; 
    text-align: center; 
    font-size: 0.8rem;
    font-weight: bold; 
    border-bottom: 2px solid #aaa;
    user-select: none;
}

.title-role{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 4px;
    user-select: none;
}

.role-row{
    display: grid;
    border-bottom: 1px solid #ddd;
    min-height: 1.5rem;;
    align-items: center;
    text-align: center; 
}

.role-list-elements{
    display: grid;
    min-height: 1.5rem;
    align-items: center;
    text-align: center; 
}

.single-role-data{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    min-width: 0;
}

#number-role{
    font-weight: bold;
    color: #555;
}