
.role-column-size{
    grid-template-columns: 5% 10% auto;
}

.single-role-data-headers{
    display: grid; 
    min-height: 1.5rem;
    align-items: center; 
    text-align: center; 
    font-size: 0.8rem;
    font-weight: bold; 
    border-bottom: 2px solid #aaa;
    user-select: none;
}

.title-role{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 4px;
    user-select: none;
}

.role-row{
    display: grid;
    border-bottom: 1px solid #ddd;
    min-height: 1.5rem;;
    align-items: center;
    text-align: center; 
}

.role-list-elements{
    display: grid;
    min-height: 1.5rem;
    align-items: center;
    text-align: center; 
}

.single-role-data{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    min-width: 0;
}

#number-role{
    font-weight: bold;
    color: #555;
}